#metamask{
  position: absolute;
  top: 7%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#network{
  position: absolute;
  top: 80%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#red{
  position: absolute;
  top: 58%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#blue{
  position: absolute;
  top: 65%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#yellow{
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#green{
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: black;
}
#credit{
  position: absolute;
  top: 10%;
  left: 20%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#magic{
  position: absolute;
  top: 10%;
  left: 80%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}